header {
    font-family: "Futura", "Trebuchet MS";
   /* font-family: Futura; Trebuchet MS;*/
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;
    padding: 15px;
  }
  
  h1 {
    color: #d33c4b;
    font-family: Futura;
    font-weight: bold condensed;
    padding: 10px;
  }
  
  body {
      background-color: #82a6ca; /*light blue*/
      width: 100%;
      color: #3d3030; /*black*/
      font-family: Arial;
      font-size: 14px;
  }
  #content {
      padding: 3px;
  }
  
  p {
    padding: 10px;
  }
  
  #WPI{
      /*center the image*/
      display: block; 
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
  
  ul {
      list-style-position: inside; 
      padding-left: -5em;
    }
  
  #main_nav ul {
      list-style-position: outside; padding-left: -5em;}
  
  #main_nav li  {
    list-style-type: none; /* remove bullet points */ 
    padding-left: 1.25rem;
  }
  
  #main_nav li a {
     display: block;
     text-decoration: none; /* remove underline */
     border-radius: 10px;  /* rounded corners */
     margin: 6px;
     padding: 9px;
     color: #222;
     font-weight: bold;
  
     /* nice gradient shade on the buttons */
     background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  
     border: 1px solid #666; /* dark outline */
  }
  
  nav li:active {
    background-color: rgb(252, 252, 252);
    background-image: none;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
  }
  
  footer {
    font-weight: bolder;
  }
  
  
  